:host {
  display: flex;
  justify-content: space-evenly;
  height: calc(100% - 6vw);

  & > div {
    display: flex;
    width: 50%;
  }

  & > div:first-child {
    align-items: center;
  }
}

h1 {
    text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button1{
    color: red;
}

.button2{
    color: green;
}

.button3{
    color: blue;
}



.p-button{
    border-width: 2px ;
    height: auto;
    display: flex;
    font-weight: bold;
    margin-bottom: 1%;
}


