:host {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  height: calc(100% - 6vw);

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

.actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.students {
  display: block;
  max-height: 85%;
  width: 100%;
  flex: 1;

  tr{
    height: 5vw;

    td {
      padding: 0 !important;

      span {
        margin: auto;
      }
    }
  }

  tr:hover {
    background-color: rgba(cornflowerblue, 0.4);
    cursor: pointer;
  }

  img {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
  }

  & .footer {
    display: flex;
    min-height: 3em;
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 0 1em;

    & :nth-child(n) {
      display: flex;
      align-items: center;
      margin: 0.2vw 1vw;
    }
  }
}
