
<div class="emargement">
    <div class="Title">
        <h1 >Choix de l'émargement</h1>
    </div>
    <div class="Choice-button">
        <button _ngcontent-afp-c95 pbutton pripple type="button" label="QR Code" class=" button1 p-element p-ripple p-button-outlined p-button p-component "  href="../../module/:id/qrcode.html" >
            <span class="p-button-label "  >QR Code </span>
        </button><br>
        <button _ngcontent-afp-c95 pbutton pripple type="button" label="Manuel" class=" button2 p-element p-ripple p-button-outlined p-button p-component" href="../../module/:id/manuel.html">
            <span class="p-button-label">Manuel</span>
        </button><br>
        <button _ngcontent-afp-c95 pbutton pripple type="button" label="Mail" class="button3 p-element p-ripple p-button-outlined p-button p-component" href="../../module/:id/mail.html">
            <span class="p-button-label">Mail</span>
            </button>
    </div>
</div>