:host {
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: black;
  padding: 10px;
  display: flex;
}

.qrcode {
  border: solid 2px;
  padding: 0.5em;
  justify-content: center;
  display: flex;
  align-items: center;
}
