:host{
    height: calc(100% - 6vw);
}

.list{ 
    flex: 1;
    margin: 2vw 2.5%;
    display: flex;
    flex-direction: row;
    background-color: rgb(197, 229, 255);
    height: calc(100% - 6vw);
}

.row{
    display: flex;
    flex-direction: row;
}

.row a {
    text-decoration: none;
}

.modules {
    flex: 1;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
    text-decoration: none;
}

.calendar{
    flex: 1;
    margin: 2%;
}


@media screen and (max-width: 600px) {
    .row{
        flex-direction: column;
        display: flex;
        margin-top: 5vw;
    }

    .column{
        width: 70%;
        margin: 5vw 15%;
    }
}