:host {
  display: flex;
  padding: 2em;
  height: calc(100% - 6vw);

  li {
    list-style: none;
  }

  & > :nth-child(n) {
   flex: 1;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  max-height: 100%;
  flex: 1;
  padding-right: 1em;
  max-width: 800px;
}

.module {
  font-weight: bold;

  &__title {
    font-size: 1.8em;
    text-transform: uppercase;
    color: grey;
    display: block;
  }
}

.in-progress, .next {
  display: flex;
  justify-content: space-between;
}

.next {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  position: relative;

  .p-card .p-card-body {
    padding: 4em;
  }

  ul {
    padding: 0;
  }
}

.live {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.in-progress {
  background-color: transparent !important;
}
