<div class="list">
    <div class="row">
        <a href="/modules/module/1"><p-card header="Cours 1" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
        <a href="/modules/module/2"><p-card header="Cours 2" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
        <a href="/modules/module/3"><p-card header="Cours 3" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
    </div>
    <div class="row">
        <a href="/modules/module/4"><p-card header="Cours 4" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
        <a href="/modules/module/5"><p-card header="Cours 5" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
        <a href="/modules/module/6"><p-card header="Cours 6" class="column">
            <ul class="elements">
                <li class="element">Date : 24/03/22 - 28/03/22</li>
                <li class="element">Lieu : Salle 12</li>
                <li class="element">Durée : 35h</li>
            </ul>
        </p-card></a>
    </div>
</div>
