<div class="signature-panel">
  <signature-pad class="signature-panel__drawZone" #signature [options]="signaturePadOptions" (drawEnd)="drawComplete($event)"></signature-pad>
  <div class="signature-panel__actions">
    <button pButton [disabled]="!hasDrawn" (click)="erase()"  class="p-button-danger p-button-outlined" label="Effacer" ></button>
    <button pButton [disabled]="!hasDrawn" (click)="sendSignature()" class="p-button-success p-button-outlined" label="Valider" ></button>
  </div>
</div>
