.signature-panel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &__actions {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1em;
    width: 100%;
  }

  &__drawZone {
    background-color: white;
  }

}
