:host {
  display: flex;
  flex: 1;
  padding: 1em;
  height: calc(100% - 6vw);

  & .left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  & .right {
    flex: 2;
  }
}

.students {
  width: 80%;
  min-height: 80%;

  & .footer {
    display: flex;
    min-height: 3em;
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 0 1em;

    & :nth-child(n) {
      display: flex;
      align-items: center;
    }
  }
}

.p-datatable-tfoot {
  background-color: red !important;
}
.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  &.status {
    &-absent {
      background-color: #ffcdd2;
      color: #c63737;
    }
    &-pending {
      background-color: #ffd8b2;
      color: #805b36;
    }
    &-signed{
      background-color: #c8e6c9;
      color: #256029;
    }
  }
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
}
.dialog-content {
  display: flex;
  flex-direction: column;
}

.content-title {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.3em;
}

.not-current {
  display: none;
}

.comment-label {
  display: flex;
  align-items: center;

  & p {
    color: red;
  }
}

.custom-button {
  min-width: 200px;
  text-align: center;
}

.module-info {
  margin-bottom: 3em;
}

.title{
  margin-right: 2vw;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 5%;

  & input {
    width: 100%;
    margin: 1vw 1vw 1.5vw;
  }
}