:host {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .switch {
    display: flex;
    align-items: center;
  }

  & .switch-label {
    max-width: 142px;
  }
}

.students {
  max-width: 700px;
  max-height: 85%;
  flex: 1;

  tr{
    height: 5vw;

    & td {
      padding: 0 !important;

      & span {
        margin: auto;
      }
    }
  }

  & .footer {
    display: flex;
    min-height: 3em;
    align-items: center;
    color: white;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 0 1em;

    & :nth-child(n) {
      display: flex;
      align-items: center;
    }

    button{
      color: white;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .p-button-outlined{
      margin-right: 3vw;
      margin-left: 1vw;
    }

    & i {
      margin: 1vw;
    }
  }
}


.customer-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
  &.status {
    &-absent {
      background-color: #ffcdd2;
      color: #c63737;
    }
    &-pending {
      background-color: #ffd8b2;
      color: #805b36;
    }
    &-signed{
      background-color: #c8e6c9;
      color: #256029;
    }
  }
}
